
@{

    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="margin-top: 100px; margin-bottom:100px;">Результаты ввода по запросу <span>@ViewBag.Response.QueryText</span>:</h2>


@foreach (var item in ViewBag.Response.SearchResult)
{
    <h3>@item.Path</h3>
    <ul>
        @foreach (var i in item.Matches)
        {
            <li>
                <div style="margin-top:10px">@i.Path</div>
                <b style="margin-top:10px">@Html.Raw(i.MatchText[0])</b>
            </li>
            <hr />
        }
    </ul>
    <hr />
}

