<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <add key="host" value="ec2-18-197-145-89.eu-central-1.compute.amazonaws.com" />
        <add key="port" value="8002" />
        <add key="ereskovsky" value="<user-with-admin-role>" />
        <add key="123456789" value="<password-for-user>" />
        <add key="realm" value="public" />
    </appSettings>   
</configuration>


